################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Span_Lab/.vs/Span_Lab/v15/Server/sqlite3
